*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */
body {
    align-items: center;
    background-color: #afd275;
    display: flex;
    height: 100vh;
    justify-content: center;
  }
  .TodoInput {
    margin: 20px;
    padding: 20px;
  }